# Lab 4

## import libs and connect to database

In [2]:
import pandas 
import configparser
import psycopg2

In [3]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db=config['myaws']['db']
user=config['myaws']['user']
pwd=config['myaws']['pwd']

KeyError: 'myaws'

In [4]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname=db
                        )

NameError: name 'host' is not defined

In [5]:
cur=conn.cursor()

NameError: name 'conn' is not defined

# Q1

In [6]:
sql_q1 = """
            select * from gp16
            """

In [7]:
df= pandas.read_sql_query(sql_q1,conn)
df[:]

NameError: name 'conn' is not defined

# Q2

In [9]:
sql_q2 = """
        select gp16.p_name,
        gp16.course.c_name
        from gp16.professor
        inner join gp16.course
        on gp16.professor.p_email = gp16.course.p_email
        
        """

In [10]:
df= pandas.read_sql_query(sql_q2,conn)
df[:]

NameError: name 'conn' is not defined

# Q3

In [11]:
sql_q3 = """
        select c_number,
        count(c_number) as enrolled
        from gp16.enroll_list
        group by c_number
        order by enrolled desc
        """

In [12]:
df= pandas.read_sql_query(sql_q3,conn)
df.plot.bar(y='enrolled',x='c_number')

NameError: name 'conn' is not defined

# Q4

In [13]:
sql_q4 = """
        select gp16.professor.p_name,
        count(gp16.course.c_name) as teaching_number
        from gp16.professor
        inner join gp16.course
        on gp16.professor.p_email = gp16.course.p_email
        group by professor.p_name
        order by teaching_number desc
        """

In [14]:
df= pandas.read_sql_query(sql_q4,conn)
df.plot.bar(y='teaching_number',x='p_name')

NameError: name 'conn' is not defined

# Q5

In [15]:
sql_q5_professor = """
                    insert into gp16.professor(p_email,p_name,office)
                    values('{}','{}','{}')
                    """.format('new_p@jmu.edu','new_p','new_office')

In [17]:
cur.execute(sql_q5_professor)

NameError: name 'cur' is not defined

In [18]:
conn.commit()

NameError: name 'conn' is not defined

In [19]:
df=pandas.read_sql_query('select * from gp16.professor',conn)
df[:]

NameError: name 'conn' is not defined

In [20]:
cur.execute(sql_q5_course)

NameError: name 'cur' is not defined

In [22]:
df=pandas.read_sql_query('select * from gp16.course',conn)
df[:]

NameError: name 'conn' is not defined

# Q6

In [23]:
sql_q6_course = """
                update gp16.course
                set p_email = '{}'
                where p_email = '{}'
                """.format('new_p@jmu.edu','hendrinx@jmu.edu')

In [24]:
cur.execute(sql_q6_course)

NameError: name 'cur' is not defined

In [25]:
conn.commit()

NameError: name 'conn' is not defined

In [26]:
df=pandas.read_sql_query('select * from gp16.course',conn)
df[:]

NameError: name 'conn' is not defined

In [27]:
sql_q6_professor = """
                delete from gp16.professor
                where p_email = '{}'
                """.format('hendrinx@jmu.edu')

In [28]:
cur.execute(sql_q6_professor)

NameError: name 'cur' is not defined

In [29]:
df=pandas.read_sql_query('select * from gp16.professor',conn)
df[:]

NameError: name 'conn' is not defined

In [30]:
cur.close()
conn.close()

NameError: name 'cur' is not defined